{% load static %}
*{
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
}

.container {
     width: 100%;
     height: 130vh;
     background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/static/images/aagri.png");
     background-position: center;
     background-size: cover;
     box-sizing: border-box;
}

.logo{
     width:50px;
     cursor:pointer;
     padding-left:8%;
     padding-right:50%;
}

.menu-icon{
     width:30px;
     cursor:pointer;
     padding-right:8%;
     padding-left:8%;
}


.navbar{
    weight:85%
    margin:auto;
    padding:30px 0;
    display:flex;
    align-items:center;

}


.navbar ul li{
   list-style: none;
   display: inline-block;
   margin:0 20px;
   position:relative;
}

.navbar ul li a
{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}



.navbar ul li::after{
   content: '';
   height: 3px;
   width: 0;
   background: #009688;
   position: absolute;
   left: 0;
   bottom: -10px;
   transition: 0.5s;
}

.navbar ul li:hover::after{
     width: 100%;
}

.row{
   display:flex;
   height:88%;
   align-items: center;
   padding-left:8%;
}

.col{
  flex-basis: 50%;
}

h1
{
  color: #fff;
  font-size: 50px;
}

p{
   color:#fff;
   font-size: 11px;
   line-height:15px;
}

button{
   width: 180px;
   padding:15px 0;
   text-align:center;
   margin:20px 10px;
   border-radius: 25px;
   font-weight:bold;
   border: 2px solid #008088;
   background: transparent;
   color: #fff;
   cursor:pointer;
   position:relative;
   overflow:hidden;

}
span{
   background: #008088;
   height: 100%;
   width: 0;
   border-radius: 25px;
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: -1;
   transition: 0.5s;

}

button:hover span{
   width: 100%;
}

button:hover{
   border: none;
}



.card{
   width: 200px;
   height: 230px;
   display: inline-block;
   border-radius: 10px;
   padding: 15px 25px;
   box-sizing: border-box;
   cursor: pointer;
   margin: 10px 15px;
   background-position: center;
   background-size: cover;
   transition: transform 0.5s;
}


.card1{
   background-image: url("/static/images/card5.png");
}

.card2{
   background-image: url("/static/images/card6.png");
}

.card3{
   background-image: url("/static/images/card7.png");
}

.card4{
   background-image: url("/static/images/card8.png");
}


.card:hover{
   transform: translateY(-10px);
}

h5{
    color:#fff;
    text-shadow: 0 0 5px #999;
}


.card p{
     text-shadow:0 0 15px #000;
     font-size: 8px;
}


