<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>

</head>
<body>
{% extends 'base.html' %}

{% block content %}
<h1>For Online enquiries</h1>
 <form action="contactdetails/" method="post" >
 {% csrf_token %}
     <input type="text" name="name" placeholder="Name"><br>
     <input type="text" name="gmail" placeholder="gmail"><br>
     <input type="number" name="mobile" placeholder="mobile no"><br>
     Select service<select name="service">
          <option> Select</option>
          <option> products</option>
          <option> rates</option>
           <option> markets</option>
     <option> customers</option>
  </select><br>
     <input type="submit" value="submit">
 </form>
{% endblock %}
</body>

</html>