
<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agriproducts</title>
    <link rel="stylesheet" href = "{% static 'css/style1.css' %}" >
    <link href="https://fonts.googleapis.com/css2? family=Roboto:wght@400; 700&display=swap" rel="stylesheet">

</head>
<body>

   <div class="container">
       <div class="navbar">

           <img src="{% static 'images/logo.png' %}" class="logo" alt="logo">

               <ul>
                   <li><a href="/">HOME</a></li>
                   <li><a href="aboutus/">ABOUT</a></li>
                   <li><a href="/">LOGOUT</a></li>
               </ul>


            <img src="{% static 'images/menu.png' %}" class="menu-icon" alt="menu-icon">
       </div>

       <div class="row">
           <div class="col">
               <h1>AGRI PRODUCTS</h1>
               <p>India's pioneer company for natural product certification. Declare your products natural. Get Natural Product Certification for Your Business. Become Globally Recognised. ISO 17065 Compliant Body. Services: Vegan, Free-Range, Cruelty-Free, Certified Natural.</p>
               <button type="button"><span></span><a href="module3/">Explore</a></button>
           </div>

            <div class="col">
                 <div class="card card1">
                       <h5>VEGETABLES & FRUITS</h5>
                       <p>India's pioneer comp Become Globally Recognised. ISO , Cruelty-Free, Certified Natural.</p>

                 </div>

                 <div class="card card2">
                       <h5>FERTILIZERS</h5>
                       <p>India's pioneer comp Become Globally Recognised. ISO , Cruelty-Free, Certified Natural.</p>

                 </div>

                 <div class="card card3">
                       <h5>DAIRY PRODUCTS</h5>
                       <p>India's pioneer comp Become Globally Recognised. ISO , Cruelty-Free, Certified Natural.</p>

                 </div>

                <div class="card card4">
                       <h5>SEEDS</h5>
                       <p>India's pioneer comp Become Globally Recognised. ISO , Cruelty-Free, Certified Natural.</p>
                 </div>

           </div>

       </div>
   </div>

</body>
</html>